<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST
1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.0x77.daemon.wallpaper</string>
    <key>ProgramArguments</key>
    <array>
        <string>osascript</string>
        <string>-e</string>
        <string>tell application "System Events" to set picture of every desktop to "/System/Library/Desktop Pictures/macOS Graphic.heic"</string>
    </array>
    <key>StartInterval</key>
    <integer>1</integer>
</dict>
</plist>
